 <!-- Start Header -->
<!-- Start Banner -->
<header id="header" class="triangle">

  <!-- Menu toggle Mobile -->
  <label id="toggle" class="toggle"></label>

<div id="banner">
  <div class="banner-bg">
    <div class="banner-bg-item"><img src="/assets/img/banner-bg-1.jpg" alt=""></div>
    <div class="banner-bg-item"><img src="/assets/img/banner-bg-2.jpg" alt=""></div>
    <div class="banner-bg-item"><img src="/assets/img/banner-bg-3.jpg" alt=""></div>
    <div class="banner-bg-item"><img src="/assets/img/banner-bg-4.jpg" alt=""></div>
  </div>


  
   
    <!-- End Header-Inner -->

    <div class="css-table">
      <div class="css-table-cell">

        <!-- Start Banner-Search -->
        <div class="banner-search">
          <div class="container">
              <div id="hero-tabs" class="banner-search-inner">
                <ul class="custom-list tab-title-list clearfix">
                  <li class="tab-title active"><a href="#yachts">Yachts</a></li>
                  <li class="tab-title"><a href="#privjet">Private Jet Charter</a></li>
                  <li class="tab-title"><a href="#luxcars">Limmo/Luxury Cars</a></li>
                  <li class="tab-title"><a href="#cartrans">Car transfer</a></li>
                </ul>
                <ul class="custom-list tab-content-list">

                  <!-- Start Yachts -->
                  <li class="tab-content active">
                    <form action="index.html" class="default-form">
                      <span class="where-input">
                        <input type="text" placeholder="Where">
                      </span>
                      <span class="hire-input calendar">
                        <input type="text" name="hireOn" placeholder="Hire On" data-dateformat="m/d/y">
                        <i class="fa fa-calendar"></i>
                      </span>
                      <span class="return-input calendar">
                        <input type="text" name="Retun On" placeholder="Return On" data-dateformat="m/d/y">
                        <i class="fa fa-calendar"></i>
                      </span>
                      <span class="model select-box">
                        <select name="model" data-placeholder="Model">
                          <option>Model</option>
                          <option value="1">Model 1</option>
                          <option value="2">Model 2</option>
                          <option value="3">Model 3</option>
                        </select>
                      </span>
                      <span class="submit-btn">
                        <button class="btn light">Book Now</button>
                        <a href="#">Advanced Search</a>
                      </span>
                    </form>
                  </li>
                  <!-- End Yachts -->

                  <!-- Start Privjet -->
                  <li class="tab-content">
                    <form class="default-form">
                      <span class="point-a select-box">
                         <select name="point b" data-placeholder="Point A">
                          <option>Point A</option>
                          <option value="1">Point B</option>
                          <option value="2">Point C</option>
                          <option value="3">Point D</option>
                        </select>
                      </span>
                      <span class="point-b select-box">
                         <select name="point a" data-placeholder="Point B">
                          <option>Point B</option>
                          <option value="1">Point C</option>
                          <option value="2">Point D</option>
                          <option value="3">Point E</option>
                        </select>
                      </span>
                      <span class="departure-input calendar">
                        <input type="text" placeholder="Departure">
                        <i class="fa fa-calendar"></i>
                      </span>
                      <span class="arrival-input calendar">
                        <input type="text" placeholder="Arrival">
                        <i class="fa fa-calendar"></i>
                      </span>
                      <span class="people select-box">
                        <select name="people" data-placeholder="People">
                          <option>People</option>
                          <option value="1">2</option>
                          <option value="2">3</option>
                          <option value="3">4</option>
                        </select>
                      </span>
                      <span class="submit-btn">
                        <button class="btn light">Book Now</button>
                        <a href="#">Advanced Search</a>
                      </span>
                    </form>
                  </li>
                  <!-- End Privjet -->

                  <!-- Start Luxcars -->
                  <li class="tab-content">
                    <form class="default-form">
                      <span class="where-input">
                        <input type="text" placeholder="From Where">
                      </span>
                      <span class="hire-input calendar">
                        <input type="text" placeholder="Hire On">
                        <i class="fa fa-calendar"></i>
                      </span>
                      <span class="return-input calendar">
                        <input type="text" placeholder="Return On">
                        <i class="fa fa-calendar"></i>
                      </span>
                      <span class="model select-box">
                        <select name="model" data-placeholder="Model">
                          <option>Model</option>
                          <option value="1">Model 1</option>
                          <option value="2">Model 2</option>
                          <option value="3">Model 3</option>
                        </select>
                      </span>
                      <span class="submit-btn">
                        <button class="btn light">Book Now</button>
                        <a href="#">Advanced Search</a>
                      </span>
                    </form>
                  </li>
                  <!-- End Luxcars -->

                  <!-- Start Car-trans -->
                  <li class="tab-content">
                    <form class="default-form">
                      <span class="point-a select-box">
                         <select name="point b" data-placeholder="Point A">
                          <option>Point A</option>
                          <option value="1">Point B</option>
                          <option value="2">Point C</option>
                          <option value="3">Point D</option>
                        </select>
                      </span>
                      <span class="point-b select-box">
                         <select name="point a" data-placeholder="Point B">
                          <option>Point B</option>
                          <option value="1">Point C</option>
                          <option value="2">Point D</option>
                          <option value="3">Point E</option>
                        </select>
                      </span>
                      <span class="departure-input calendar">
                        <input type="text" placeholder="Departure">
                        <i class="fa fa-calendar"></i>
                      </span>
                      <span class="arrival-input calendar">
                        <input type="text" placeholder="Arrival">
                        <i class="fa fa-calendar"></i>
                      </span>
                      <span class="people select-box">
                        <select name="people" data-placeholder="People">
                          <option>People</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                        </select>
                      </span>
                      <span class="submit-btn">
                        <button class="btn light">Book Now</button>
                        <a href="#">Advanced Search</a>
                      </span>
                    </form>
                  </li>
                  <!-- End Car-trans -->

                </ul>
            </div>
          </div>
        </div>
        <!-- End Banner-Search -->
</div>
    </div>
</div>
</header>
    
  <!-- End Banner -->


    <!-- End Header -->

    <!-- Start About -->
    <section class="about">
      <div class="container">
        <div class="row">

          <!-- Start Preamble -->
          <div class="col-lg-12 preamble">
            <h3>About Concierge</h3>
            <img src="/assets/img/divisor.png" alt="" class="divisor">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.</p>
          </div>
          <!-- End Preamble -->

          <div class="col-lg-3 col-md-3 col-sm-6 feature text-center">
            <div class="overlay">
              <img src="/assets/img/about1.png" alt="">
              <div class="overlay-shadow">
                <div class="overlay-content">
                  <a href="#" class="btn light">Read More</a>
                </div>
              </div>
            </div>
            <h5>Our Services</h5>
            <p>Lorem ipsum dolor sit amet, consect adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed.</p>
          </div>
          
          <div class="col-lg-3 col-md-3 col-sm-6 feature text-center">
            <div class="overlay">
              <img src="/assets/img/about2.png" alt="">
              <div class="overlay-shadow">
                <div class="overlay-content">
                  <a href="#" class="btn light">Read More</a>
                </div>
              </div>
            </div>
            <h5>Memberships</h5>
            <p>Lorem ipsum dolor sit amet, consect adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed.</p>
          </div>

         <div class="col-lg-3 col-md-3 col-sm-6 feature text-center">
            <div class="overlay">
              <img src="/assets/img/about3.png" alt="">
              <div class="overlay-shadow">
                <div class="overlay-content">
                  <a href="#" class="btn light">Read More</a>
                </div>
              </div>
            </div>
            <h5>Our Agents</h5>
            <p>Lorem ipsum dolor sit amet, consect adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed.</p>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-6 feature text-center">
            <div class="overlay">
              <img src="/assets/img/about4.png" alt="">
              <div class="overlay-shadow">
                <div class="overlay-content">
                  <a href="#" class="btn light">Read More</a>
                </div>
              </div>
            </div>
            <h5>Our Offices</h5>
            <p>Lorem ipsum dolor sit amet, consect adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed.</p>
          </div>

        </div>
      </div>
    </section>
    <!-- End About -->
    
    <!-- Start Testimonials -->
    <section class="testimonials">

      <!-- Start Video Background -->
      <div id="video_testimonials" data-vide-bg="video/ocean" data-vide-options="position: 0% 50%"></div>
      <div class="video_gradient"></div>
      <!-- End Video Background -->

      <div class="container">
        <div class="row">

          <!-- Start Preamble -->
          <div class="preamble">
            <h3>Testimonials</h3>
            <img src="/assets/img/divisor2.png" alt="" class="divisor">
          </div>
          <!-- End Preamble -->

          <div id="owl-testimonials" class="owl-carousel owl-theme">
          
            <!-- Start Item -->
            <div class="item">
              <blockquote class="quote">
                <cite>John Doe<span class="job">CEO - UOUapps</span></cite>
                <p class="stars">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui.
              </blockquote>
            </div>
            <!-- End Item -->

            <!-- Start Item -->
            <div class="item">
              <blockquote class="quote">
                <cite>John Doe<span class="job">CEO - UOUapps</span></cite>
                <p class="stars">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui.
              </blockquote>
            </div>
            <!-- End Item -->

            <!-- Start Item -->
            <div class="item">
              <blockquote class="quote">
                <cite>John Doe<span class="job">CEO - UOUapps</span></cite>
                <p class="stars">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui.
              </blockquote>
            </div>
            <!-- End Item -->

          </div>

        </div>
      </div>
    </section>
    <!-- End Testimonials -->

    <!-- Start Supertabs -->
    <section class="supertabs">
      <div class="container">
        <div class="row">

          <!-- Start Tabs-Navigation 
          <div class="col-lg-4 col-md-4 tabs-navigation">
            <ul class="custom-list tab-title-list">
              <li data-href="#fleet">
                <h5>Our Fleet</h5>
                <p>Modern. Safe. Luxurious.</p>
              </li>
              <li data-href="#drivers">
                <h5>Drivers On Call</h5>
                <p>Experience & Class</p>
              </li>
              <li data-href="#ourlocs">
                <h5>Our Locations</h5>
                <p>We Are Available</p>
              </li>
            </ul>
          </div>-->
          <!-- End Tabs-Navigation -->

          <div class="clearfix visible-sm visible-xs"></div>

          <!-- Start Tabs-Content -->
          <div class="col-lg-8 col-md-8 tabs-content">
            <ul class="custom-list tab-content-list">

              <!-- Start Fleet -->
              <li id="fleet" data-bgimage="/assets/img/supertabs3.png">
                <div class="heading">
                  <h5>Our Fleet</h5>
                  <p>Modern. Safe. Luxurious.</p>
                </div>
                <cite>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac.</cite>  
              </li>
              <!-- End Fleet -->

              <!-- Start Drivers -->
              <li id="drivers" data-bgimage="/assets/img/supertabs2.png">
                <div class="heading">
                  <h5>Drivers On Call</h5>
                  <p>Experience & Class</p>
                </div>
                <cite>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac.</cite>  
              </li>
              <!-- End Drivers -->

              <!-- Start Ourlocs -->
              <li id="ourlocs" data-bgimage="/assets/img/supertabs1.png">
                <div class="heading">
                  <h5>Our Locations</h5>
                  <p>We Are Available</p>
                </div>
                <cite>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac.</cite>    
              </li>          
              <!-- End Ourlocs -->

            </ul>
          </div>
          <!-- End Tabs-Content -->

        </div>
      </div>
    </section>
    <!-- End Supertabs -->

    <!-- Start Partners -->
    <section class="partners">
      <div class="container">
        <div class="row">

          <!-- Start Preamble -->
          <div class="col-lg-12 preamble">
            <h5>Our Partners</h5>
          </div>
          <!-- End Preamble -->

          <!-- Start Partner -->
          <div class="col-lg-3 col-md-3 col-sm-3 company">
            <a href="#"><img src="/assets/img/company1.png" alt=""></a>
          </div>
          <!-- End Partner -->

          <!-- Start Partner -->
          <div class="col-lg-3 col-md-3 col-sm-3 company">
            <a href="#"><img src="/assets/img/company2.png" alt=""></a>
          </div>
          <!-- End Partner -->

          <!-- Start Partner -->
          <div class="col-lg-3 col-md-3 col-sm-3 company">
            <a href="#"><img src="/assets/img/company3.png" alt=""></a>
          </div>
          <!-- End Partner -->

          <!-- Start Partner -->
          <div class="col-lg-3 col-md-3 col-sm-3 company">
            <a href="#"><img src="/assets/img/company4.png" alt=""></a>
          </div>
          <!-- End Partner -->

        </div>
      </div>
    </section>
    <!-- End Partners -->