

    <!-- Start Footer -->
    <footer id="footer">
        <div class="container">
  
            <!-- Start Preamble -->
            <div class="col-lg-12 preamble">
              <img src="/assets/img/footer-logo.png" alt="">
            </div>
            <!-- End Preamble -->
  
            <!-- Start Footer-Content -->
            <div class="footer-content">
              <div class="row">
  
                <!-- Start Widget-About -->
                <div class="col-lg-4 col-md-4 widget widget-about">
                  <h5>About Us</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Etiam sit amet lectus quis est congue mollis.</p>
                </div>
                <!-- End Widget-About -->
  
                <!-- Start Widget-News -->
                <div class="col-lg-4 col-md-4 widget widget-news">
                  <h5>Latest News</h5>
                  <ul class="custom-list">
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Proin nibh augue suscipit scelerisque</a></li>
                    <li><a href="#">Etiam pellentesque aliquet tellus</a></li>
                  </ul>
                </div>
                <!-- End Widget-News -->
  
                <!-- Start Widget-Newsletter -->
                <div class="col-lg-4 col-md-4 widget widget-newsletter">
                  <h5>Newsletter</h5>
                  <form class="default-form">
                    <input type="text" name="newsletter" placeholder="Your Email Here">
                    <button class="btn light">Sign Up</button>
                  </form>
                </div>
                <!-- End Widget-Newsletter -->
  
                <!-- Start Widget-Social -->
                <div class="col-lg-4 col-md-4 widget widget-social">
                  <h5>Lets Stay in Touch</h5>
                  <ul class="custom-list">
                    <li>
                      <a href="#"><i class="fa fa-facebook-square"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-twitter-square"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-linkedin-square"></i></a>
                    </li>
                  </ul>
                </div>
                <!-- End Widget-Social -->
              </div>
          </div>
        </div>
        <!-- End Footer-Content -->
  
        <!-- Start Footer-Copyrights -->
        <div class="footer-copyrights">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <p>Copyright 2014 © Concierge. All rights reserved. Powered by <a href="#">UOUapps</a></p>
              </div>
            </div>
          </div>
        </div>
        <!-- End Footer-Copyrights -->
  
      </footer>
      <!-- End Footer -->
  
      <a href="#" class="btn" id="back-to-top"><i class="fa fa-arrow-up"></i></a>